In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset=pd.read_csv("Placement_Data_Full_Class.csv")

In [ ]:
dataset.head()

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0

[5 rows x 15 columns]

In [ ]:
dataset.isnull().any()

sl_no             False
gender            False
ssc_p             False
ssc_b             False
hsc_p             False
hsc_b             False
hsc_s             False
degree_p          False
degree_t          False
workex            False
etest_p           False
specialisation    False
mba_p             False
status            False
salary             True
dtype: bool

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset["status"]=le.fit_transform(dataset["status"])

In [ ]:
x=dataset.iloc[:,1:13].values
y=dataset.iloc[:,13].values

In [ ]:
x

array([['M', 67.0, 'Others', ..., 55.0, 'Mkt&HR', 58.8],
       ['M', 79.33, 'Central', ..., 86.5, 'Mkt&Fin', 66.28],
       ['M', 65.0, 'Central', ..., 75.0, 'Mkt&Fin', 57.8],
       ...,
       ['M', 67.0, 'Others', ..., 59.0, 'Mkt&Fin', 69.72],
       ['F', 74.0, 'Others', ..., 70.0, 'Mkt&HR', 60.23],
       ['M', 62.0, 'Central', ..., 89.0, 'Mkt&HR', 60.22]], dtype=object)

In [ ]:
dataset.head(3)

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      1  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      1  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      1  250000.0

[3 rows x 15 columns]

In [ ]:
dataset["gender"].unique()

array(['M', 'F'], dtype=object)

In [ ]:
dataset["ssc_b"].unique()

array(['Others', 'Central'], dtype=object)

In [ ]:
dataset["workex"].unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
dataset["hsc_s"].unique()

array(['Commerce', 'Science', 'Arts'], dtype=object)

In [ ]:
dataset["hsc_b"].unique()

array(['Others', 'Central'], dtype=object)

In [ ]:
dataset["degree_t"].unique()

array(['Sci&Tech', 'Comm&Mgmt', 'Others'], dtype=object)

In [ ]:
dataset["specialisation"].unique()

array(['Mkt&HR', 'Mkt&Fin'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset["gender"]=le.fit_transform(dataset["gender"])
dataset["ssc_b"]=le.fit_transform(dataset["ssc_b"])
dataset["workex"]=le.fit_transform(dataset["workex"])
dataset["hsc_s"]=le.fit_transform(dataset["hsc_s"])
dataset["hsc_b"]=le.fit_transform(dataset["hsc_b"])
dataset["degree_t"]=le.fit_transform(dataset["degree_t"])
dataset["specialisation"]=le.fit_transform(dataset["specialisation"])

In [ ]:
dataset

     sl_no  gender  ssc_p  ssc_b  ...  specialisation  mba_p  status    salary
0        1       1  67.00      1  ...               1  58.80       1  270000.0
1        2       1  79.33      0  ...               0  66.28       1  200000.0
2        3       1  65.00      0  ...               0  57.80       1  250000.0
3        4       1  56.00      0  ...               1  59.43       0       NaN
4        5       1  85.80      0  ...               0  55.50       1  425000.0
..     ...     ...    ...    ...  ...             ...    ...     ...       ...
210    211       1  80.60      1  ...               0  74.49       1  400000.0
211    212       1  58.00      1  ...               0  53.62       1  275000.0
212    213       1  67.00      1  ...               0  69.72       1  295000.0
213    214       0  74.00      1  ...               1  60.23       1  204000.0
214    215       1  62.00      0  ...               1  60.22       0       NaN

[215 rows x 15 columns]

In [ ]:
x=dataset.iloc[:,1:13]
y=dataset.iloc[:,13]

In [ ]:
x

     gender  ssc_p  ssc_b  hsc_p  ...  workex  etest_p  specialisation  mba_p
0         1  67.00      1  91.00  ...       0     55.0               1  58.80
1         1  79.33      0  78.33  ...       1     86.5               0  66.28
2         1  65.00      0  68.00  ...       0     75.0               0  57.80
3         1  56.00      0  52.00  ...       0     66.0               1  59.43
4         1  85.80      0  73.60  ...       0     96.8               0  55.50
..      ...    ...    ...    ...  ...     ...      ...             ...    ...
210       1  80.60      1  82.00  ...       0     91.0               0  74.49
211       1  58.00      1  60.00  ...       0     74.0               0  53.62
212       1  67.00      1  67.00  ...       1     59.0               0  69.72
213       0  74.00      1  66.00  ...       0     70.0               1  60.23
214       1  62.00      0  58.00  ...       0     89.0               1  60.22

[215 rows x 12 columns]

In [ ]:
x=dataset.iloc[:,1:13].values
y=dataset.iloc[:,13].values

In [ ]:
x

array([[ 1.  , 67.  ,  1.  , ..., 55.  ,  1.  , 58.8 ],
       [ 1.  , 79.33,  0.  , ..., 86.5 ,  0.  , 66.28],
       [ 1.  , 65.  ,  0.  , ..., 75.  ,  0.  , 57.8 ],
       ...,
       [ 1.  , 67.  ,  1.  , ..., 59.  ,  0.  , 69.72],
       [ 0.  , 74.  ,  1.  , ..., 70.  ,  1.  , 60.23],
       [ 1.  , 62.  ,  0.  , ..., 89.  ,  1.  , 60.22]])

In [ ]:
y

array([1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [ ]:
x.shape

(215, 12)

In [ ]:
y.shape

(215,)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("oh",OneHotEncoder(),[0,2,4,5,7,8,10])],remainder="passthrough")
x=ct.fit_transform(x)

In [ ]:
x

array([[ 0.  ,  1.  ,  0.  , ..., 58.  , 55.  , 58.8 ],
       [ 0.  ,  1.  ,  1.  , ..., 77.48, 86.5 , 66.28],
       [ 0.  ,  1.  ,  1.  , ..., 64.  , 75.  , 57.8 ],
       ...,
       [ 0.  ,  1.  ,  0.  , ..., 73.  , 59.  , 69.72],
       [ 1.  ,  0.  ,  0.  , ..., 58.  , 70.  , 60.23],
       [ 0.  ,  1.  ,  1.  , ..., 53.  , 89.  , 60.22]])

In [ ]:
x.shape

(215, 21)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
x_train.shape

(172, 21)

In [ ]:
x_test.shape

(43, 21)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [ ]:
x_train

array([[-0.73192505,  0.73192505,  0.90029235, ..., -0.08327934,
        -0.91848631,  0.05194371],
       [ 1.3662601 , -1.3662601 ,  0.90029235, ...,  0.36837381,
        -1.24217438,  0.57709192],
       [ 1.3662601 , -1.3662601 ,  0.90029235, ...,  0.40822555,
         0.58224933,  1.48972813],
       ...,
       [-0.73192505,  0.73192505, -1.1107503 , ...,  0.89973045,
         0.55282314,  0.81842217],
       [-0.73192505,  0.73192505,  0.90029235, ..., -1.22569612,
         0.40569219, -1.30596381],
       [-0.73192505,  0.73192505, -1.1107503 , ..., -1.35853529,
         0.84708503, -1.63056998]])

In [40]:
from tensorflow.keras.models import Sequential # used to initialize the model
from tensorflow.keras.layers import Dense # used to add Layers of ANN

In [42]:
ann=Sequential()

In [44]:
ann.add(Dense(21,kernel_initializer="random_uniform",activation="relu"))

In [48]:
ann.add(Dense(42,kernel_initializer="random_uniform",activation="relu"))

In [49]:
ann.add(Dense(1,kernel_initializer="random_uniform",activation="sigmoid"))

In [50]:
ann.compile("adam","binary_crossentropy",metrics=["accuracy"])

In [51]:
ann.fit(x_train,y_train,batch_size=32,epochs=15)

Epoch 1/15
6/6 [==============================] - 1s 2ms/step - loss: 0.6921 - accuracy: 0.6570
Epoch 2/15
6/6 [==============================] - 0s 3ms/step - loss: 0.6886 - accuracy: 0.7035
Epoch 3/15
6/6 [==============================] - 0s 3ms/step - loss: 0.6844 - accuracy: 0.7035
Epoch 4/15
6/6 [==============================] - 0s 2ms/step - loss: 0.6774 - accuracy: 0.7035
Epoch 5/15
6/6 [==============================] - 0s 3ms/step - loss: 0.6674 - accuracy: 0.7035
Epoch 6/15
6/6 [==============================] - 0s 2ms/step - loss: 0.6533 - accuracy: 0.7035
Epoch 7/15
6/6 [==============================] - 0s 2ms/step - loss: 0.6320 - accuracy: 0.7035
Epoch 8/15
6/6 [==============================] - 0s 2ms/step - loss: 0.6055 - accuracy: 0.7035
Epoch 9/15
6/6 [==============================] - 0s 2ms/step - loss: 0.5712 - accuracy: 0.7035
Epoch 10/15
6/6 [==============================] - 0s 2ms/step - loss: 0.5341 - accuracy: 0.7035
Epoch 11/15
6/6 [==============================] - 0s 2ms/step - loss: 0.4959 - accuracy: 0.7093
Epoch 12/15
6/6 [==============================] - 0s 2ms/step - loss: 0.4624 - accuracy: 0.7384
Epoch 13/15
6/6 [==============================] - 0s 3ms/step - loss: 0.4325 - accuracy: 0.7907
Epoch 14/15
6/6 [==============================] - 0s 2ms/step - loss: 0.4079 - accuracy: 0.8256
Epoch 15/15
6/6 [==============================] - 0s 2ms/step - loss: 0.3888 - accuracy: 0.8488

In [53]:
ypred=ann.predict(x_test)

In [54]:
ypred

array([[0.5028852 ],
       [0.6427602 ],
       [0.8938829 ],
       [0.5062982 ],
       [0.9893671 ],
       [0.6091966 ],
       [0.9530357 ],
       [0.72300553],
       [0.83934   ],
       [0.98725265],
       [0.59170365],
       [0.8641461 ],
       [0.90880203],
       [0.5430417 ],
       [0.77970636],
       [0.47314575],
       [0.9533869 ],
       [0.46859866],
       [0.87728053],
       [0.7953947 ],
       [0.4533832 ],
       [0.5826533 ],
       [0.814032  ],
       [0.6452732 ],
       [0.48340148],
       [0.57477653],
       [0.69895124],
       [0.9084664 ],
       [0.7599667 ],
       [0.94709754],
       [0.94082093],
       [0.66943824],
       [0.93759406],
       [0.6042356 ],
       [0.5230231 ],
       [0.9917929 ],
       [0.9885863 ],
       [0.7994551 ],
       [0.9857049 ],
       [0.8233267 ],
       [0.5572069 ],
       [0.48369986],
       [0.92942536]], dtype=float32)

In [55]:
y_test

array([0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1])

In [56]:
dataset.head()

   sl_no  gender  ssc_p  ssc_b  ...  specialisation  mba_p  status    salary
0      1       1  67.00      1  ...               1  58.80       1  270000.0
1      2       1  79.33      0  ...               0  66.28       1  200000.0
2      3       1  65.00      0  ...               0  57.80       1  250000.0
3      4       1  56.00      0  ...               1  59.43       0       NaN
4      5       1  85.80      0  ...               0  55.50       1  425000.0

[5 rows x 15 columns]

In [59]:
yp=ann.predict(sc.transform(ct.transform([[1,88.6,0,93.5,1,2,55.9,2,0,55.0,1,89.7]])))

In [60]:
yp

array([[0.7688715]], dtype=float32)

In [61]:
yp>0.5

array([[ True]])

**Loanstatus** B

In [65]:
dataset=pd.read_csv("Loanstatus.csv")

In [66]:
dataset

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

In [67]:
dataset.isnull().any()

Loan_ID              False
Gender                True
Married               True
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
Loan_Status          False
dtype: bool

In [69]:
dataset=dataset.replace(to_replace="3+",value=3)

In [70]:
dataset["Dependents"].unique()

array(['0', '1', '2', 3, nan], dtype=object)

In [71]:
dataset

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

In [74]:
dataset["Gender"].fillna(dataset["Gender"].mode()[0],inplace=True)
dataset["Married"].fillna(dataset["Married"].mode()[0],inplace=True)
dataset["Dependents"].fillna(dataset["Dependents"].mode()[0],inplace=True)
dataset["Self_Employed"].fillna(dataset["Self_Employed"].mode()[0],inplace=True)
dataset["LoanAmount"].fillna(dataset["LoanAmount"].mean(),inplace=True)
dataset["Loan_Amount_Term"].fillna(dataset["Loan_Amount_Term"].mean(),inplace=True)
dataset["Credit_History"].fillna(dataset["Credit_History"].mean(),inplace=True)

In [75]:
dataset.isnull().any()

Loan_ID              False
Gender               False
Married              False
Dependents           False
Education            False
Self_Employed        False
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount           False
Loan_Amount_Term     False
Credit_History       False
Property_Area        False
Loan_Status          False
dtype: bool

In [76]:
dataset["Gender"].mode()[0]

'Male'

In [77]:
dataset["Married"].mode()[0]

'Yes'

In [78]:
dataset["Dependents"].mode()[0]

'0'

In [79]:
dataset["Self_Employed"].mode()[0]

'No'

In [80]:
dataset["LoanAmount"].mode()[0]

146.41216216216216

In [81]:
dataset["Loan_Amount_Term"].mean()

342.0

In [82]:
dataset["Credit_History"].mean()

0.8421985815602844

In [83]:
dataset.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [84]:
dataset["Gender"].unique()

array(['Male', 'Female'], dtype=object)

In [85]:
dataset["Married"].unique()

array(['No', 'Yes'], dtype=object)

In [86]:
dataset["Education"].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [87]:
dataset["Self_Employed"].unique()

array(['No', 'Yes'], dtype=object)

In [88]:
dataset["Property_Area"].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [89]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset["Gender"] = le.fit_transform(dataset["Gender"])
dataset["Married"] = le.fit_transform(dataset["Married"])
dataset["Education"] = le.fit_transform(dataset["Education"])
dataset["Self_Employed"] = le.fit_transform(dataset["Self_Employed"])
dataset["Property_Area"] = le.fit_transform(dataset["Property_Area"])
dataset["Loan_ID"] = le.fit_transform(dataset["Loan_ID"])

In [90]:
dataset.head()

   Loan_ID  Gender  Married  ... Credit_History  Property_Area  Loan_Status
0        0       1        0  ...            1.0              2            Y
1        1       1        1  ...            1.0              0            N
2        2       1        1  ...            1.0              2            Y
3        3       1        1  ...            1.0              2            Y
4        4       1        0  ...            1.0              2            Y

[5 rows x 13 columns]

In [91]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset["Loan_Status"]=le.fit_transform(dataset["Loan_Status"])

In [92]:
x = dataset.iloc[:,0:12]
y = dataset.iloc[:,12]

In [93]:
x

     Loan_ID  Gender  Married  ... Loan_Amount_Term  Credit_History  Property_Area
0          0       1        0  ...            360.0             1.0              2
1          1       1        1  ...            360.0             1.0              0
2          2       1        1  ...            360.0             1.0              2
3          3       1        1  ...            360.0             1.0              2
4          4       1        0  ...            360.0             1.0              2
..       ...     ...      ...  ...              ...             ...            ...
609      609       0        0  ...            360.0             1.0              0
610      610       1        1  ...            180.0             1.0              0
611      611       1        1  ...            360.0             1.0              2
612      612       1        1  ...            360.0             1.0              2
613      613       0        0  ...            360.0             0.0              1

[614 rows x 12 columns]

In [94]:
y

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int64

In [95]:
x = dataset.iloc[:,0:12].values
y = dataset.iloc[:,12].values

In [96]:
x

array([[0, 1, 0, ..., 360.0, 1.0, 2],
       [1, 1, 1, ..., 360.0, 1.0, 0],
       [2, 1, 1, ..., 360.0, 1.0, 2],
       ...,
       [611, 1, 1, ..., 360.0, 1.0, 2],
       [612, 1, 1, ..., 360.0, 1.0, 2],
       [613, 0, 0, ..., 360.0, 0.0, 1]], dtype=object)

In [97]:
x.shape

(614, 12)

In [98]:
y.shape

(614,)

In [99]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("oh", OneHotEncoder(),[1,2,4,5,11])],remainder = "passthrough") 
x = ct.fit_transform(x)

In [100]:
x

array([[0.0, 1.0, 1.0, ..., 146.41216216216216, 360.0, 1.0],
       [0.0, 1.0, 0.0, ..., 128.0, 360.0, 1.0],
       [0.0, 1.0, 0.0, ..., 66.0, 360.0, 1.0],
       ...,
       [0.0, 1.0, 0.0, ..., 253.0, 360.0, 1.0],
       [0.0, 1.0, 0.0, ..., 187.0, 360.0, 1.0],
       [1.0, 0.0, 1.0, ..., 133.0, 360.0, 0.0]], dtype=object)

In [102]:
x.shape

(614, 18)

In [103]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 ,random_state=0)

In [104]:
x_train.shape

(491, 18)

In [105]:
x_test.shape

(123, 18)

In [106]:
from sklearn.preprocessing import StandardScaler

In [107]:
sc =StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [108]:
x_train

array([[-0.47374983,  0.47374983, -0.71143163, ..., -0.18814516,
         0.27644707,  0.45859914],
       [-0.47374983,  0.47374983,  1.40561644, ...,  0.56269516,
         0.27644707,  0.01148007],
       [-0.47374983,  0.47374983, -0.71143163, ...,  0.01977985,
         0.27644707, -2.37482957],
       ...,
       [-0.47374983,  0.47374983, -0.71143163, ...,  0.60890072,
         0.27644707,  0.45859914],
       [-0.47374983,  0.47374983, -0.71143163, ...,  0.14684514,
         0.27644707,  0.45859914],
       [ 2.11081869, -2.11081869, -0.71143163, ...,  0.40097571,
         0.27644707,  0.45859914]])

In [109]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [110]:
ann = Sequential()

In [111]:
ann.add(Dense(18, kernel_initializer = "random_uniform",  activation = "relu"))

In [112]:
ann.add(Dense(36, kernel_initializer = "random_uniform",  activation = "relu"))

In [113]:
ann.add(Dense(1, kernel_initializer = "random_uniform",  activation = "sigmoid"))

In [114]:
ann.compile("adam","binary_crossentropy",metrics = ["accuracy"])

In [115]:
ann.fit(x_train,y_train,batch_size = 32,epochs = 25)

Epoch 1/25
16/16 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.6599
Epoch 2/25
16/16 [==============================] - 0s 2ms/step - loss: 0.6837 - accuracy: 0.6762
Epoch 3/25
16/16 [==============================] - 0s 1ms/step - loss: 0.6702 - accuracy: 0.6762
Epoch 4/25
16/16 [==============================] - 0s 1ms/step - loss: 0.6395 - accuracy: 0.6762
Epoch 5/25
16/16 [==============================] - 0s 2ms/step - loss: 0.5959 - accuracy: 0.7291
Epoch 6/25
16/16 [==============================] - 0s 2ms/step - loss: 0.5471 - accuracy: 0.7902
Epoch 7/25
16/16 [==============================] - 0s 2ms/step - loss: 0.5183 - accuracy: 0.8065
Epoch 8/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4969 - accuracy: 0.8065
Epoch 9/25
16/16 [==============================] - 0s 1ms/step - loss: 0.4802 - accuracy: 0.8065
Epoch 10/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4673 - accuracy: 0.8086
Epoch 11/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4583 - accuracy: 0.8086
Epoch 12/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4508 - accuracy: 0.8106
Epoch 13/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4507 - accuracy: 0.8086
Epoch 14/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4431 - accuracy: 0.8086
Epoch 15/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4412 - accuracy: 0.8106
Epoch 16/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4398 - accuracy: 0.8086
Epoch 17/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4384 - accuracy: 0.8086
Epoch 18/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4374 - accuracy: 0.8065
Epoch 19/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4355 - accuracy: 0.8086
Epoch 20/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4346 - accuracy: 0.8065
Epoch 21/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4327 - accuracy: 0.8086
Epoch 22/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4304 - accuracy: 0.8086
Epoch 23/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4301 - accuracy: 0.8086
Epoch 24/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4300 - accuracy: 0.8086
Epoch 25/25
16/16 [==============================] - 0s 2ms/step - loss: 0.4282 - accuracy: 0.8106

In [116]:
ypred = ann.predict(x_test)

In [117]:
ypred

array([[0.8214551 ],
       [0.88311887],
       [0.79695314],
       [0.87949795],
       [0.9158937 ],
       [0.0867995 ],
       [0.8803618 ],
       [0.65067977],
       [0.06012151],
       [0.92743504],
       [0.89141375],
       [0.87891674],
       [0.7474736 ],
       [0.83389676],
       [0.890993  ],
       [0.8947425 ],
       [0.41360438],
       [0.73634046],
       [0.3033316 ],
       [0.03385061],
       [0.02843806],
       [0.9208627 ],
       [0.84635705],
       [0.70888776],
       [0.72479   ],
       [0.8479625 ],
       [0.7073542 ],
       [0.8183768 ],
       [0.04500657],
       [0.04134271],
       [0.8192524 ],
       [0.717996  ],
       [0.8614502 ],
       [0.6807393 ],
       [0.86933786],
       [0.04676747],
       [0.8894326 ],
       [0.6483849 ],
       [0.90545106],
       [0.89156175],
       [0.74788785],
       [0.03862986],
       [0.95429456],
       [0.7146469 ],
       [0.8564596 ],
       [0.5298878 ],
       [0.9218396 ],
       [0.8817765 ],
       [0.6239142 ],
       [0.7196387 ],
       [0.8894062 ],
       [0.87135136],
       [0.74618256],
       [0.6670706 ],
       [0.84454656],
       [0.7027769 ],
       [0.8853852 ],
       [0.5749371 ],
       [0.7859608 ],
       [0.7044278 ],
       [0.03448305],
       [0.7791915 ],
       [0.7151103 ],
       [0.02916166],
       [0.92508525],
       [0.6933203 ],
       [0.6903478 ],
       [0.8043829 ],
       [0.63627505],
       [0.59243166],
       [0.6579554 ],
       [0.9435828 ],
       [0.77078027],
       [0.7957319 ],
       [0.9067371 ],
       [0.85806614],
       [0.66013336],
       [0.50819606],
       [0.8511252 ],
       [0.05025768],
       [0.52194506],
       [0.88091385],
       [0.76343226],
       [0.8999957 ],
       [0.6412578 ],
       [0.8974184 ],
       [0.8649378 ],
       [0.64261854],
       [0.8115089 ],
       [0.9274325 ],
       [0.91494894],
       [0.80922985],
       [0.84744525],
       [0.05711386],
       [0.71507996],
       [0.06833231],
       [0.8198019 ],
       [0.7802836 ],
       [0.7021887 ],
       [0.8030764 ],
       [0.7517078 ],
       [0.8744064 ],
       [0.7119035 ],
       [0.7455008 ],
       [0.89304733],
       [0.77679294],
       [0.47524738],
       [0.76166004],
       [0.76609087],
       [0.7663669 ],
       [0.7194881 ],
       [0.6505904 ],
       [0.6266685 ],
       [0.8538184 ],
       [0.05541649],
       [0.07769299],
       [0.48362136],
       [0.78510547],
       [0.79525685],
       [0.7500509 ],
       [0.8293946 ],
       [0.04553139],
       [0.85079694]], dtype=float32)

In [118]:
ypred = ypred>0.5

In [119]:
ypred

array([[ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True]])

In [120]:
y_test

array([1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1])

In [121]:
dataset.head(3)

   Loan_ID  Gender  Married  ... Credit_History  Property_Area  Loan_Status
0        0       1        0  ...            1.0              2            1
1        1       1        1  ...            1.0              0            0
2        2       1        1  ...            1.0              2            1

[3 rows x 13 columns]

In [122]:
yp = ann.predict(sc.transform(ct.transform([[2,1,0,1,1,0,325,12.7,3986,768.8,1,2]])))

In [123]:
yp

array([[0.9819454]], dtype=float32)

In [124]:
yp>0.5

array([[ True]])

50 Strtups-C

In [128]:
dataset=pd.read_csv("50_Startups.csv")

In [129]:
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87              NaN  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08             NaN        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [130]:
titles=list(dataset.columns)
titles

['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit']

In [133]:
titles[3],titles[0]=titles[0],titles[3]
titles

['State', 'Administration', 'Marketing Spend', 'R&D Spend', 'Profit']

In [134]:
dataset=dataset[titles]
dataset

         State  Administration  Marketing Spend  R&D Spend     Profit
0     New York       136897.80        471784.10  165349.20  192261.83
1   California       151377.59        443898.53  162597.70  191792.06
2      Florida       101145.55        407934.54  153441.51  191050.39
3     New York       118671.85        383199.62  144372.41  182901.99
4      Florida        91391.77        366168.42  142107.34  166187.94
5     New York        99814.71        362861.36  131876.90  156991.12
6   California       147198.87              NaN  134615.46  156122.51
7      Florida       145530.06        323876.68  130298.13  155752.60
8     New York       148718.95        311613.29  120542.52  152211.77
9   California       108679.17        304981.62  123334.88  149759.96
10     Florida             NaN        229160.95  101913.08  146121.95
11  California        91790.61        249744.55  100671.96  144259.40
12     Florida       127320.38        249839.44   93863.75  141585.52
13  California       135495.07        252664.93   91992.39  134307.35
14     Florida       156547.42        256512.92  119943.24  132602.65
15    New York       122616.84        261776.23  114523.61  129917.04
16  California       121597.55        264346.06   78013.11  126992.93
17    New York       145077.58        282574.31   94657.16  125370.37
18     Florida       114175.79        294919.57   91749.16  124266.90
19    New York       153514.11             0.00   86419.70  122776.86
20  California       113867.30        298664.47   76253.86  118474.03
21    New York       153773.43        299737.29   78389.47  111313.02
22     Florida       122782.75        303319.26   73994.56  110352.25
23     Florida       105751.03        304768.73   67532.53  108733.99
24    New York        99281.34        140574.81   77044.01  108552.04
25  California       139553.16        137962.62   64664.71  107404.34
26     Florida       144135.98        134050.07   75328.87  105733.54
27    New York       127864.55        353183.81   72107.60  105008.31
28     Florida       182645.56        118148.20   66051.52  103282.38
29    New York       153032.06        107138.38   65605.48  101004.64
30     Florida       115641.28         91131.24   61994.48   99937.59
31    New York       152701.92         88218.23   61136.38   97483.56
32  California       129219.61         46085.25   63408.86   97427.84
33     Florida       103057.49        214634.81   55493.95   96778.92
34  California       157693.92        210797.67   46426.07   96712.80
35    New York        85047.44        205517.64   46014.02   96479.51
36     Florida       127056.21        201126.82   28663.76   90708.19
37  California        51283.14        197029.42   44069.95   89949.14
38    New York        65947.93        185265.10   20229.59   81229.06
39  California        82982.09        174999.30   38558.51   81005.76
40  California       118546.05        172795.67   28754.33   78239.91
41     Florida        84710.77        164470.71   27892.92   77798.83
42  California        96189.63        148001.11   23640.93   71498.49
43    New York       127382.30         35534.17   15505.73   69758.98
44  California       154806.14         28334.72   22177.74   65200.33
45    New York       124153.04          1903.93    1000.23   64926.08
46     Florida       115816.21        297114.46    1315.46   49490.75
47  California       135426.92             0.00       0.00   42559.73
48    New York        51743.15             0.00     542.05   35673.41
49  California       116983.80         45173.06       0.00   14681.40

In [135]:
dataset.isnull().any()

State              False
Administration      True
Marketing Spend     True
R&D Spend          False
Profit             False
dtype: bool

In [137]:
dataset["Administration"].fillna(dataset["Administration"].mean(),inplace=True)
dataset["Marketing Spend"].fillna(dataset["Marketing Spend"].mean(),inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [139]:
dataset.isnull().any()

State              False
Administration     False
Marketing Spend    False
R&D Spend          False
Profit             False
dtype: bool

In [140]:
dataset

         State  Administration  Marketing Spend  R&D Spend     Profit
0     New York   136897.800000    471784.100000  165349.20  192261.83
1   California   151377.590000    443898.530000  162597.70  191792.06
2      Florida   101145.550000    407934.540000  153441.51  191050.39
3     New York   118671.850000    383199.620000  144372.41  182901.99
4      Florida    91391.770000    366168.420000  142107.34  166187.94
5     New York    99814.710000    362861.360000  131876.90  156991.12
6   California   147198.870000    212725.266735  134615.46  156122.51
7      Florida   145530.060000    323876.680000  130298.13  155752.60
8     New York   148718.950000    311613.290000  120542.52  152211.77
9   California   108679.170000    304981.620000  123334.88  149759.96
10     Florida   121564.038163    229160.950000  101913.08  146121.95
11  California    91790.610000    249744.550000  100671.96  144259.40
12     Florida   127320.380000    249839.440000   93863.75  141585.52
13  California   135495.070000    252664.930000   91992.39  134307.35
14     Florida   156547.420000    256512.920000  119943.24  132602.65
15    New York   122616.840000    261776.230000  114523.61  129917.04
16  California   121597.550000    264346.060000   78013.11  126992.93
17    New York   145077.580000    282574.310000   94657.16  125370.37
18     Florida   114175.790000    294919.570000   91749.16  124266.90
19    New York   153514.110000         0.000000   86419.70  122776.86
20  California   113867.300000    298664.470000   76253.86  118474.03
21    New York   153773.430000    299737.290000   78389.47  111313.02
22     Florida   122782.750000    303319.260000   73994.56  110352.25
23     Florida   105751.030000    304768.730000   67532.53  108733.99
24    New York    99281.340000    140574.810000   77044.01  108552.04
25  California   139553.160000    137962.620000   64664.71  107404.34
26     Florida   144135.980000    134050.070000   75328.87  105733.54
27    New York   127864.550000    353183.810000   72107.60  105008.31
28     Florida   182645.560000    118148.200000   66051.52  103282.38
29    New York   153032.060000    107138.380000   65605.48  101004.64
30     Florida   115641.280000     91131.240000   61994.48   99937.59
31    New York   152701.920000     88218.230000   61136.38   97483.56
32  California   129219.610000     46085.250000   63408.86   97427.84
33     Florida   103057.490000    214634.810000   55493.95   96778.92
34  California   157693.920000    210797.670000   46426.07   96712.80
35    New York    85047.440000    205517.640000   46014.02   96479.51
36     Florida   127056.210000    201126.820000   28663.76   90708.19
37  California    51283.140000    197029.420000   44069.95   89949.14
38    New York    65947.930000    185265.100000   20229.59   81229.06
39  California    82982.090000    174999.300000   38558.51   81005.76
40  California   118546.050000    172795.670000   28754.33   78239.91
41     Florida    84710.770000    164470.710000   27892.92   77798.83
42  California    96189.630000    148001.110000   23640.93   71498.49
43    New York   127382.300000     35534.170000   15505.73   69758.98
44  California   154806.140000     28334.720000   22177.74   65200.33
45    New York   124153.040000      1903.930000    1000.23   64926.08
46     Florida   115816.210000    297114.460000    1315.46   49490.75
47  California   135426.920000         0.000000       0.00   42559.73
48    New York    51743.150000         0.000000     542.05   35673.41
49  California   116983.800000     45173.060000       0.00   14681.40

In [141]:
dataset['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [143]:
dataset['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [144]:
x=dataset.iloc[:,1:5].values
y=dataset.iloc[:,0:1].values

In [145]:
y

array([['New York'],
       ['California'],
       ['Florida'],
       ['New York'],
       ['Florida'],
       ['New York'],
       ['California'],
       ['Florida'],
       ['New York'],
       ['California'],
       ['Florida'],
       ['California'],
       ['Florida'],
       ['California'],
       ['Florida'],
       ['New York'],
       ['California'],
       ['New York'],
       ['Florida'],
       ['New York'],
       ['California'],
       ['New York'],
       ['Florida'],
       ['Florida'],
       ['New York'],
       ['California'],
       ['Florida'],
       ['New York'],
       ['Florida'],
       ['New York'],
       ['Florida'],
       ['New York'],
       ['California'],
       ['Florida'],
       ['California'],
       ['New York'],
       ['Florida'],
       ['California'],
       ['New York'],
       ['California'],
       ['California'],
       ['Florida'],
       ['California'],
       ['New York'],
       ['California'],
       ['New York'],
       ['Florida'],
       ['California'],
       ['New York'],
       ['California']], dtype=object)

In [150]:
y.ndim

2

In [152]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
One=OneHotEncoder()
z=One.fit_transform(y[:,0:1]).toarray()
y=np.delete(y,0,axis=1)
y=np.concatenate((z,y),axis=1)

In [153]:
y

array([[0.0, 0.0, 1.0],
       [1.0, 0.0, 0.0],
       [0.0, 1.0, 0.0],
       [0.0, 0.0, 1.0],
       [0.0, 1.0, 0.0],
       [0.0, 0.0, 1.0],
       [1.0, 0.0, 0.0],
       [0.0, 1.0, 0.0],
       [0.0, 0.0, 1.0],
       [1.0, 0.0, 0.0],
       [0.0, 1.0, 0.0],
       [1.0, 0.0, 0.0],
       [0.0, 1.0, 0.0],
       [1.0, 0.0, 0.0],
       [0.0, 1.0, 0.0],
       [0.0, 0.0, 1.0],
       [1.0, 0.0, 0.0],
       [0.0, 0.0, 1.0],
       [0.0, 1.0, 0.0],
       [0.0, 0.0, 1.0],
       [1.0, 0.0, 0.0],
       [0.0, 0.0, 1.0],
       [0.0, 1.0, 0.0],
       [0.0, 1.0, 0.0],
       [0.0, 0.0, 1.0],
       [1.0, 0.0, 0.0],
       [0.0, 1.0, 0.0],
       [0.0, 0.0, 1.0],
       [0.0, 1.0, 0.0],
       [0.0, 0.0, 1.0],
       [0.0, 1.0, 0.0],
       [0.0, 0.0, 1.0],
       [1.0, 0.0, 0.0],
       [0.0, 1.0, 0.0],
       [1.0, 0.0, 0.0],
       [0.0, 0.0, 1.0],
       [0.0, 1.0, 0.0],
       [1.0, 0.0, 0.0],
       [0.0, 0.0, 1.0],
       [1.0, 0.0, 0.0],
       [1.0, 0.0, 0.0],
       [0.0, 1.0, 0.0],
       [1.0, 0.0, 0.0],
       [0.0, 0.0, 1.0],
       [1.0, 0.0, 0.0],
       [0.0, 0.0, 1.0],
       [0.0, 1.0, 0.0],
       [1.0, 0.0, 0.0],
       [0.0, 0.0, 1.0],
       [1.0, 0.0, 0.0]], dtype=object)

In [154]:
y.ndim

2

In [155]:
y.shape

(50, 3)

In [156]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [157]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [158]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [159]:
cat=Sequential()

In [160]:
cat.add(Dense(3,kernel_initializer="random_uniform",activation="relu"))

In [161]:
cat.add(Dense(9,kernel_initializer="random_uniform",activation="relu"))

In [162]:
cat.add(Dense(3,kernel_initializer="random_uniform",activation="softmax"))

In [164]:
cat.compile("adam","categorical_crossentropy",metrics=["accuracy"])

In [166]:
cat.fit(x_train,y_train,batch_size=32,epochs=70)

ValueError: ignored

In [ ]:
_